:root {
    --desert-sand: #e1c699;
    --industrial-dark: #2d2926;
    --accent: #b05c2a;
}

body {
    background-color: var(--industrial-dark);
    color: var(--desert-sand);
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    border-bottom: 2px solid var(--accent);
    padding-bottom: 10px;
}
